.navbar {
    background: rgb(12, 12, 12);
    
    height: 90px;
  
}
.navbar-brand .logo{
    height: 50px;
    width: 140px;
    cursor: pointer;
}

.nav-link{
    font-size: 20px;
    padding-right: 30px;
    font-family: "Orbitron", sans-serif;
    margin-left: 20px;
    color: rgb(34, 125, 199);

}


.nav-link:hover{
    color: white;  box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 30px #2196f3;
    background-color:#2196f3 ;
    border-radius: 10px;
  
}

.form-inline{

    display: none;
    margin-left: 20px;
    margin-top: 10px;
   
   
   
}
.form-inline .mr-sm-2 {
  
    background: rgba(20, 20, 20, 0.609);
    width: 300px;
    color: white;
}   

header .nav-item i:not(#btn-buscar){
    
    font-size: 22px;
    color: #2195f3c7;
    margin-left: 28px;
    margin-top: 12px;
}



.logear{
    width: 100px;
    height: 50px;
    margin-right: 10px;
    background: #2196f3;
   
}
.logear .btn{
    width: 100px;
    height: 50px;
    font-size: 14px;
    color: white;
    text-align: left;
    font-family: "Orbitron", sans-serif;
}

.logear .btn:hover {
    width: 100px;
    height: 50px;
    
    color: black;
    background: white;
    
}

.logear .btn i:not(#tachas){
  
    font-size: 20px;
    color: white;
    margin-top: 0px;
    margin-left: 2px;
   
}

.logear .btn:hover i:not(#tachas){
  
    font-size: 20px;
    color: black;
    margin-top: 0px;
    margin-left: 2px;
   
}

#barras{
    color: white;
}


/*FOOTER*/

footer{
    width: 100%;
    height: 250px;
    background:rgba(14, 14, 14, 0.904);
    
}

footer .redessociales img{
    margin-right: 20px;
    width: 50px;
    
}

footer h3{
    font-size: 20px;
    color:  white;
}

