body{
    background: url(/IMG/Optimizadas/fondo.jpg);
    backdrop-filter: blur(5px);
}

.row .pagina hr{
    width: 125px;
    height: 2px;
}

.row .contact hr{
    width: 75px;
    height: 2px;
}

.fab, .far {
    font-weight: 400;
    font-size: 25px;
}
.card img{
    width: 18rem;
}

.card-body {
    color: white;
    background: #212529;
}
.list-group-flush > .list-group-item:last-child {
    border-bottom-width: 0px;
    color: white;
    background: #212529;
}