body{
    background: url(/IMG/Optimizadas/fondo.jpg);
    backdrop-filter: blur(5px);
}

.carousel-item a{
text-decoration: none;
} 

.row .pagina hr{
    width: 125px;
    height: 2px;
}

.row .contact hr{
    width: 75px;
    height: 2px;
}

main .separador-featured hr{
    height: 2px;
}

.container .separador-news hr{
    height: 2px;
}

.container .separador-aventura hr{
    width: 90px;
}
.container .separador-fps hr{
    width: 50px;
}
.container .separador-accion hr{
    width: 70px;
}

.fab, .far {
    font-weight: 400;
    font-size: 25px;
}