* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100%;
  }
  
  body {
    
    font-size: 1.2rem;
    min-height: 100%;
  }
  
  .grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
  }
  
  .header {
    grid-area: header;
    background-color: black;
  }
  

  .sidebar {
    grid-area: sidebar;
 
  }
  
  .main {
    grid-area: main;
  }
  
  .footer {
    grid-area: footer;
    background-color: black;
  }
  
  .user-container {
    display: grid;
    gap: 10px;
    grid-template:
      "header"  100px
      "sidebar" 500px
      "main"    auto
      "footer"  100px;
  }
  
  @media (min-width: 600px) {
    .user-container {
  
      grid-template:
        "header  header" 90px
        "sidebar main"   auto
        "footer  footer" 100px /
        200px    auto;
    }
  }
  
  @media (min-width: 900px) {
    .user-container {
      grid-template:
        "header  header header"  90px
        "slidebar  main  " auto
        "footer  footer footer"  100px /
        200px    auto   200px;
    }
  }

  img{
    height: 200px;
  }

  .foto-perfil-div{
    right: 50%;
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
    left: 50%;
  }

  #photo{
    height: 100%;
    width: 100%;
  }
  #file{
    display: none;
  }

  #uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgb(0, 0, 0,0.7);
    color: white;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 10px;
    cursor: pointer;
    display: none;
  }

  .profile-usertitle {
    text-align: center;
    margin-top: 20%;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;

  }

  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .profile-usermenu {
    margin-top: 30px;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }

  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    border-left: 4px solid #5b9bd1;
    color: black;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  .profile-usermenu ul li.active a {
    color: black;
    background-color: #f6f9fb;
    border-left: 4px solid #5b9bd1;
    margin-left: 0;
  }
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }

  input {
      background-color: #eee;
      border: none;
      padding: 12px 15px;
      margin: 8px 0;
      width: 90%;
  }
  
  .datos{
    margin-left: 20%;
    margin-top: 5%;
    display: inline-block;
  }

  button {
    border-radius: 20px;
    border: 1px solid #0aaff1;
    background-color: #0aaff1;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
  }

  button:active {
    transform: scale(0.95);
  }
  button:focus {
    outline: none;
  }
  .contraseña-container{
    margin-left: 20%;
    margin-top: 5%;
    display: inline-block;
    display: none;
  }
  .descripcion{
    color: #999;
    font-size: 14px;
  }