.BarraMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  width: 100%;
  background-color: black;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

#LogoMarca {
  height: 50px;
  width: 140px;
  padding-left: 20px;
  cursor: pointer;
}

body {
  background-color: #000000d7;
}

li,
a,
button {
  font-family: "Orbitron", sans-serif;
  font-weight: 100%;
  font-size: 20px;
  color: rgb(34, 125, 199);
  text-decoration: none;
  border-radius: 30px;
}
.nav_links {
  list-style: none;

  margin-top: 30px;
  margin-right: 400px;
}
.nav_links li {
  display: inline-block;
  padding: 0px 0px;
}
.nav_links li a {
  transition: alt 0.3s ease 0s;
  padding: 0px 13px;
}
.nav_links li a:hover {
  color: rgba(0, 0, 0, 0.726);
}
/*
.search-txt{
border-radius: 10px;
height: 20px;
width: 250px;
position: relative;
right: 150px;
}
*/
.search_box {
  position: absolute;
  top: 47px;
  left: 70%;
  transform: translate(-50%, -50%);
  background: rgba(71, 71, 68, 0.692);
  height: 30px;
  border-radius: 30px;
  padding: 10px;
}
.search_box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-btn {  
  float: right;  /*Este es el icono de la lupita*/
  border-radius: 10px;
  height: 33px;
  width: 27px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 2px;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

a {
  position: relative;
  display: inline-block;
  right: 50px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 21px;
  overflow: hidden;
  transition: 0.2s;
}

a:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 40px #2196f3;
  transition-delay: 1s;
  border-radius: 20px;
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}
a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
  border-radius: 20px;
}
a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}
a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
  border-radius: 30px;
}
a span:nth-child(2) {
  top: -100%;
  right: 0%;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}
a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.75s;
  border-radius: 30px;
}
a span:nth-child(4) {
  bottom: -100%;
  left: 0%;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}
a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
  border-radius: 30px;
}


